.btn{
    margin: 3px 0px 0px 10px;
}
.padding-zero{
    padding: 0;
}
.select-options{
    margin: 3px 0px 8px 0px;
}
.panel-options{
    /*background-color: rgba(212, 212, 212, 0.63);*/
    padding: 8px 0px 32px 3px;
}
.orderChkbox{
    margin-right: 10px !important;
}

@media (min-width:768px) {
    #wrapper {
        padding-left: 0 !important;
    }
}
.table {
    margin-bottom: 3px;
    font-size: small;
    padding-bottom: 2px;
}

.cursor-table{
    cursor: pointer;
    background-color: rgba(66, 139, 202, 0.19);

}
.dashboard-icon{
    height: 23px;
    margin-left: 7px;
}
.print-icon{
    height: 23px;
}
.ful-selector{
    background-color: transparent;
    border: 0;
}
.fulfillment-dropdown{
    margin: 41px 0px 0px 10px;
    min-width: 145px;
}

.delivery-amt{
    background-color: #BFE2C4;
    border: 0;
    width: 22%;
    margin-left: 6px;
    cursor: pointer;
    padding-left: 10px;
}
.delivery-amt-selected{
    border: 1px solid #7435EC !important;
    background-color: #6CEA7E;
    font-weight: bold;
}
.modal-footer-order{
    padding: 3px 12px 5px;
    text-align: left !important;
    margin-top: 0px;
}
.modal-header-order{
    padding: 15px 0px 45px 0px;
}
.row{
    margin: 4px 0px 0px 0px;
}

@media (min-width: 768px) {
	
    .modal-dialog {
        width: auto;
    }
    .modal-content {
        height: 80%;
        overflow-x: scroll;
        margin: 15px;
    }
   .app-modal-window .modal-dialog {
  width: 45%;
}
.app-modal-window .modal-content {
  height:auto;
    overflow-x: auto;
}
.collectCash-modal-window .modal-dialog {
  width: 45%;
}
.collectCash-modal-window .modal-content {
  height:auto;
    overflow-x: auto;
}
  .appUpdate-modal-window .modal-dialog {
  width: 45%;
}
.appUpdate-modal-window .modal-content {
  height:auto;
    overflow-x: auto;
}
}
.modal-list-del-amt-input-box{
    width: 50px;
    margin-left: 10px;
    font-size: 12px;
}
@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        padding-left: 5px;
        padding-right: 7px;
    }
}
