.btn{
    margin: 3px 0px 0px 10px;
}
.padding-zero{
    padding: 0;
}
.select-options{
    margin: 3px 0px 8px 0px;
}
.panel-options{
    /*background-color: rgba(212, 212, 212, 0.63);*/
    padding: 8px 0px 32px 3px;
}
.orderChkbox{
    margin-right: 10px !important;
}

@media (min-width:768px) {
    #wrapper {
        padding-left: 0 !important;
    }
}


.table {
    margin-bottom: 3px;
    font-size: small;
}

.cursor-table{
    cursor: pointer;
    background-color: rgba(66, 139, 202, 0.19);
    margin-bottom: 10px;
    padding: 6px;
}
.dashboard-icon{
    height: 23px;
    margin-left: 7px;
}

.ful-selector{
    background-color: transparent;
    border: 0;
}
.fulfillment-dropdown{
    margin: 41px 0px 0px 10px;
    min-width: 145px;
}