@media (min-width:768px) {
    #wrapper {
        padding-left: 0 !important;
    }
}

.restaurant-row{
    background-color: rgba(110, 187, 70, 0.18);
}
.ffCenter-row{
    background-color: rgba(245, 245, 220, 0.58);
}
.dashboard-icon{
    height: 23px;
}
.ful-selector{
    background-color: transparent;
    border: 0;
}
.error-msg{
    color: red;
    font-size: small;
}
a.icon-anchor-tag{
    margin-right: 6%;
}
.modal-header-order{
    padding: 15px 0px 45px 0px;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: auto;
    }
    .modal-content {
        height: 80%;
        margin: 15px;
    }
}