#admin{

	/* background-image:url(../images/splash.jpg); */
    background-size: cover;
    background-position: center center;
	text-align: center;
	overflow: hidden;
	/*
	height: 600px;
    font-family: helvetica;
	*/
}   
#admin .shade{
    display:block;
}


		
		
#adminLogin,
#setTableId{
    z-index:101;
    position:absolute;
    width: 300px;
    height: 440px;
    margin: 50px 360px;
    border: solid 2px #aaa;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	margin-top: -250px;
}   

#adminLogin{
    background: rgba(54, 25, 25, .5);
} 
#setTableId{
    background: rgba(255, 255, 255, .5);
}




#controlPanel h2{
    background: none repeat scroll 0 0 #222222;
    color: #CECECE;
    margin-top: 0;
    padding: 10px;
}

#admin h1{
    padding-top: 20px !important;
    margin-bottom: 16px;
    text-shadow: 2px 2px #666;
}

#adminLogin h2,
#setTableId h2 {
    padding: 10px;
    margin: 0 0 28px 0;
    background: #000;
    color: #fff;
}
#setTableId h2 {
	background: #006600;
}

#admin #inputField{
    width: 230px;
    height:44px;
    font-size: 48px;
    margin-bottom: 10px;
    text-align: center;
}
#admin .keypad{
	margin: 20px auto;
	width: 225px;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
}
#admin .diplayField{
    width: 230px;
    height:44px;
    font-size: 38px;
    margin-bottom: 20px;
    text-align: center;
	background: #fff;
	margin: 0 auto;
}

#accessCodeField{
	font-size: 42px;
	line-height: 62px;
}

#adminLogin .inputBtn,
#setTableId .inputBtn{
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 30px;
    margin: 4px;
    background: #111;
    border: 2px solid #333;
    color: #999;
}
#setTableId .inputBtn{
    background: #202020;
}
#admin .inputBtn:active{
    background: #000;
    color: #fff;
}
#admin .inputBtn.OK{
     display: inline-block;
    width: 135px;
}


#controlPanel {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 2px solid #AAAAAA;
    border: 1px solid #CC000000;
    height: 90%;
    left: 50%;
    margin-left: -40%;
    position: absolute;
    top: 20px;
    width: 80%;
    z-index: 101;
}

#closeControlPanel{
	float: right;
	margin: -65px 4px 0 0;
	color: #c00;
	font-weight: 400;
	font-size: 22px;
	border: 1px solid #aaa;
	padding: 6px;
}

#closeControlPanel:hover{
	cursor: pointer;
}
#restaurantTables{
    float: left;
    margin-right: 15px;
    max-height: 360px;
    overflow: scroll;
    width: 500px;
	margin-top: -4px;
}
.selectedTable{
	font-size: 24px;
	text-align: left !important;
	margin-left: 20px;
	margin-right: 20px;
	height: 360px;
}


.tableInfo{
	border-bottom: 2px solid #bbb;
	/* height: 40px; */
	padding: 5px 0 0 4px;
	margin-top: 0px;	
	background: #EA6;
	
}
.tableInfo.Available{
	background: #CDC;
}
.tableInfo.Busy{
	background: #FCA;
}

.tableInfo.Reserved{
	background: #bababa;
	color: #909090;
}

.tableInfoHeader{
	background: #333;
	color: #ddd;
}


.selectedTable span.tableName,
.selectedTable span.tableStatus,
.selectedTable span.tableGuests{
	display: inline-table;
	width: 30%;
	padding: 4px 0 0 6px;
}

.selectedTable span.tableStatus,
.selectedTable span.tableGuests{
	font-size: 14px;
}

.myLabel{
	width: 160px;
}
	
.selectedTable .myLabel{
	width: 160px !important;
	font-weight: 600;
	height: 30px;
	margin-top: 4px;
	vertical-align: middle;
	display: block;
	float: left;
}
#activeTableName {
	margin-left: 13px;
	width: auto;
	height: 30px;
	margin-top: -5px;
	vertical-align: middle;
	float: left;	
	padding: 5px 40px;
	background: #dedede;
	border: 1px solid #aaa;
 }
 
 
 #controlPanelCancel,
 #controlPanelSave{
    border: 1px solid #AAAAAA;
    float: right;
    height: 26px;
    margin-right: 10px;
    padding-top: 7px;
    vertical-align: middle;
    width: 200px;
 }
 
 #activeTableInfo{
 	display: none; 
	overflow: auto;
	width:100%;
 }

 
 #activeTableInfo .myLabel{
	color:#aaa;
	margin-top: 0;
	font-size:20px;
	padding-right: 20px;
	text-align: right;
 }
 
#activeTableInfo .activeTableDescription{
	font-size:17px;
	padding-top: 4px;
	padding-left: 175px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 2px solid #ccc;
	
}
 
#tableCheckDetails{
 	display: inline-block; 
}
 
 tt{
	font-size: 16px;
 }
 
 
 
 
#applicationEvents {
	font-weight: 200;
	color: #fff;
	background: rgba(0,0,0,0.5);
	list-style: none;
	display: inline-block;
	height: 100px;
	overflow-y: scroll;
	padding: 5px;
	text-align: left;
	position: absolute;
	top: 0;
	left: 0;
	opacity: .4;
	font-family: courier;
	font-size: 12px;
	margin-top: 0;	
}					
 
 
 
 
 
#check{
   display:none;
   background: rgba(0, 0, 0, 0.7);
   width: 100%;
   height: 100%;
   position: absolute; 
   z-index: 1001;
   top: 0px;
   padding-top: 0px;
       
}
#check_content{
	background: #fff;
	width: 400px;
	height: 96%;
	padding: 6px 36px 6px;
	margin: 5px auto;
	font-family: courier;
	box-shadow: 0px 0px 50px #000;
	overflow-y: auto;
}
#check_footer{
	margin-top: 20px;
/*	
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -130px;
*/
}



#email-check {
    background: url("images/at.png") no-repeat scroll 170px 0 rgba(0, 0, 0, 0);
    height: auto;
    padding: 25px;
    text-align: center;
    z-index: 100;
}


.onethird{
	width:33%;
}
.onethird.left{
	text-align: left;
}
.onethird.center{
	text-align: center;
}
.onethird.right{
	text-align: right;
}

