#admin{

	background-image:url(../images/splash.jpg);
    background-size: cover;
    background-position: center center;
	text-align: center;
	overflow: hidden;
	/*
	height: 600px;
    font-family: helvetica;
	*/
}   
#admin .shade{
    display:block;
}


		
		
#adminLogin,
#setTableId{
    z-index:101;
    position:absolute;
    width: 300px;
    height: 440px;
    margin: 50px 360px;
    border: solid 2px #aaa;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	margin-top: -250px;
	
}   

#adminLogin{
    background: rgba(54, 25, 25, .5);
} 
#setTableId{
    background: rgba(255, 255, 255, .5);
}   


#admin h1{
    padding-top: 20px !important;
    margin-bottom: 16px;
    text-shadow: 2px 2px #666;
}

#adminLogin h2,
#setTableId h2 {
    padding: 10px;
    margin: 0 0 28px 0;
    background: #000;
    color: #fff;
}
#setTableId h2 {
	background: #006600;
}

#admin #inputField{
    width: 230px;
    height:44px;
    font-size: 48px;
    margin-bottom: 10px;
    text-align: center;
}
#admin .keypad{
	margin: 20px auto;
	width: 225px;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
}
#admin .diplayField{
    width: 230px;
    height:44px;
    font-size: 38px;
    margin-bottom: 20px;
    text-align: center;
	background: #fff;
	margin: 0 auto;
}

#accessCodeField{
	font-size: 42px;
	line-height: 62px;
}

#adminLogin .inputBtn,
#setTableId .inputBtn{
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 30px;
    margin: 4px;
    background: #111;
    border: 2px solid #333;
    color: #999;
}
#setTableId .inputBtn{
    background: #202020;
}
#admin .inputBtn:active{
    background: #000;
    color: #fff;
}
#admin .inputBtn.OK{
     display: inline-block;
    width: 135px;
}