<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for HTML email with inline image</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
<body bgcolor="#D8D8D8">
<div>
<p>Hi <span th:text="${customerCreditBill.name}"></span><br clear="all"/>
</div>
<div style="align:center; width:100%;">
<div style="float:left;"> 
  <p><b  style="float:left;">Name: </b> <span style="float:right;" th:text="${customerCreditBill.name}"></span></p><br clear="all"/>
  <p><b style="float:left;">Contact No.: </b><span style="float:right;"  th:text="${customerCreditBill.customer.phone}"></span></p><br clear="all"/>
  <p><b style="float:left;">Date : </b><span  style="float:right;" th:text="${creditBillDate}"></span></p><br clear="all"/>
</div>
<div style="float:right;">
<p><b style="float:left;">Delivery Area: </b><span style="float:right;" th:text="${customerCreditBill.customer.deliveryArea}"></span></p><br clear="all"/>  
<p><b style="float:left;">Address: </b><span style="float:right;" th:text="${customerCreditBill.customer.address}"></span></p><br clear="all"/>
<!-- <p><b style="float:left;">Payment Mode:</b><span style="float:right;"  th:text="${customerCreditBill.customer.paymentMode}"></span></p>
 -->
</div>
</div>
<table style="align:center; width:100%">
</table>
<div th:if="${customerCreditBill.description != 'null' && customerCreditBill.description !=' '}">
	<p><b style="float:left;">Description : </b><span th:text="${customerCreditBill.description}"></span></p><br clear="all"/>
  </div>
</div>
<table style="align:center; width:100%">
</table>
<hr/>
<div style="float:left"><b>Credit Amount</b></div> <div style="float:right" th:text="${#numbers.formatDecimal(customerCreditBill.amount, 0, 2)}"></div><br clear="all"/>
</body>
</html>