<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:security="http://www.springframework.org/schema/security"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
       http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd


       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-4.1.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-4.1.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.cookedspecially" />
	
	
	<!-- CORS SETTING -->
	<mvc:cors>
    	<mvc:mapping path="/**"
        	allowed-origins="*"
        	allowed-methods="GET,POST,HEAD,OPTIONS,PUT,DELETE"
        	allowed-headers="Content-Type,X-Requested-With,authorization,Authorization, accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers"
        	allow-credentials="false"
        	max-age="3600" />
	</mvc:cors>
	
	<mvc:annotation-driven>
    <mvc:message-converters>
        <bean
            class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
    </mvc:message-converters>
	</mvc:annotation-driven>
    <mvc:resources mapping="/resources/**" location="/resources/"/>
	<mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/" />
	<mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/" />
<bean id="customerCreditAutomatedBilling" class="com.cookedspecially.service.impl.CustomerCreditServiceImpl" />

  <task:scheduled-tasks> <!-- [0-60] [0-60] [0-24] [0-31] [0-13] [0-7]-->
      <task:scheduled ref="customerCreditAutomatedBilling" method="doBillingOnSUN" cron="0 0 1 * * 0"/>
      <task:scheduled ref="customerCreditAutomatedBilling" method="doBillingOn1stDayOfMonth" cron="0 0 1 1 * *"/>
      <task:scheduled ref="customerCreditAutomatedBilling" method="doBillingOn15thOfEveryMonth" cron="0 0 1 15 * *"/>
   </task:scheduled-tasks>
   
   
	<security:global-method-security pre-post-annotations="enabled"/>
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/category/**"/>
			<mvc:mapping path="/addOnDish/**"/>
			<mvc:mapping path="/coupon/**"/>
			<mvc:mapping path="/addOnDishTypes/**"/>
			<mvc:mapping path="/dish/**"/>
			<mvc:mapping path="/menu/**"/>
			<mvc:mapping path="/socialConnector/**"/>
			<mvc:mapping path="/classpath:/META-INF/resources/**"/>
			<mvc:mapping path="/swagger-ui.html"/>
			<!-- <mvc:mapping path="/user/**"/>  -->
			<mvc:mapping path="/restaurant/**"/>
			<mvc:mapping path="/dishTypes/**"/>
			<mvc:mapping path="/taxTypes/**"/>
			<!-- <mvc:mapping path="/customer/**"/> -->
			<!--  <mvc:mapping path="/order/**"/>   -->
			<mvc:mapping path="/seatingTable/**"/>
			<!-- <mvc:exclude-mapping path="/user/login/**"/>-->
			<mvc:exclude-mapping path="/reports/**"/>
			<mvc:exclude-mapping path="/zomato/**"/>
			<mvc:exclude-mapping path="/coupon/getCouponDef.json/**"/>
			<mvc:exclude-mapping path="/menu/show/**"/>
			<mvc:exclude-mapping path="/menu/getjson/**"/>
			<mvc:exclude-mapping path="/menu/getallmenusjson/**"/>
			<mvc:exclude-mapping path="/menu/manifest/**"/>
			<mvc:exclude-mapping path="/menu/getmenusjsonbyuname/**"/>
			<mvc:exclude-mapping path="/menu/getjsonByMenuName/**"/>
			<mvc:exclude-mapping path="/seatingTable/setStatus/**"/>
			<mvc:exclude-mapping path="/seatingTable/gettablesjsonbyuname/**"/>
			<mvc:exclude-mapping path="/seatingTable/getRestaurantTables.json/**"/>
			<mvc:exclude-mapping path="/restaurant/time.json/**"/>
			<mvc:exclude-mapping path="/restaurant/resources/**"/>
			<mvc:exclude-mapping path="/menu/getallposmenusjson/**"/>
			<mvc:exclude-mapping path="/restaurant/getrestaurantinfo/**"/>
			<mvc:exclude-mapping path="/restaurant/getDeliveryAreas/**"/>
			<mvc:exclude-mapping path="/restaurant/redirectToPayTm/**"/>
			<mvc:exclude-mapping path="/restaurant/responseByPayTm/**"/>
			<mvc:exclude-mapping path="/restaurant/serverResponseByPayTm*"/>
			<mvc:exclude-mapping path="/restaurant/redirectToCitrus/**"/>
			<mvc:exclude-mapping path="/restaurant/responseByCitrus/**"/>
			<mvc:exclude-mapping path="/restaurant/redirectToMobiKwik/**"/>
			<mvc:exclude-mapping path="/restaurant/responseByMobiKwik/**"/>
			<mvc:exclude-mapping path="/restaurant/appResponseByCitrus/**"/>
			<mvc:exclude-mapping path="/restaurant/redirectToPayPal/**"/>
			<mvc:exclude-mapping path="/restaurant/responseByPaypal/**"/>
			<mvc:exclude-mapping path="/restaurant/payWithStripe/**"/>
			<mvc:exclude-mapping path="/restaurant/getCardDetails/**"/>
			<mvc:exclude-mapping path="/restaurant/getDiscountOptions/**"/>
			<mvc:exclude-mapping path="/restaurant/responseByMobileApp/**"/>
			<mvc:exclude-mapping path="/order/displayCheck/**"/>
			<mvc:exclude-mapping path="/order/placeOrderFromPos/**"/>
			<mvc:exclude-mapping path="/dish/shareDish.json/**"/>
			<mvc:exclude-mapping path="/dish/shareDish.htm/**"/>
			<mvc:exclude-mapping path="/dish/shareDishTest/**"/>
			<mvc:exclude-mapping path="/user/isAuthenticate/**"/>


            <bean class="com.cookedspecially.AdminInterceptors"/>
		</mvc:interceptor>	
	</mvc:interceptors>
	
	
	
	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="contentNegotiationManager">
            <bean class="org.springframework.web.accept.ContentNegotiationManager">
                <constructor-arg>
                    <bean class="org.springframework.web.accept.PathExtensionContentNegotiationStrategy">
                        <constructor-arg>
                            <map>
                                <entry key="json" value="application/json"/>
                                <entry key="xml" value="application/xml"/>
                            </map>
                        </constructor-arg>
                    </bean>
                </constructor-arg>
            </bean>
        </property>
		<!-- 
		<property name="mediaTypes">
			<map>
				<entry key="html"> 
					<util:constant static-field="org.springframework.http.MediaType.TEXT_HTML_VALUE" />
				</entry>
				<entry key="json"> 
					<util:constant static-field="org.springframework.http.MediaType.APPLICATION_JSON_VALUE" />
				</entry>
			</map>
		</property>
		
		<property name="viewResolvers">
			<list>
				<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
					<property name="prefix" value="/WEB-INF/jsp/" />
					<property name="suffix" value=".jsp" />
				</bean>
			</list>
		</property>
		-->
		<property name="defaultViews">
			<list>
				<bean
					class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
					<property name="prefixJson" value="true" />
				</bean>
			</list>
		</property>
	</bean>
	
	 <context:component-scan base-package="org.brickred.controller" />
	<!-- To enable @RequestMapping process on type level and method level -->
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>

	<import resource="properties.xml" />
	<bean id="socialAuthConfig" class="org.brickred.socialauth.SocialAuthConfig">
		<property name="applicationProperties"><ref bean="socialAuthProperties"/></property>
	</bean>
	
	<bean id="socialAuthManager" class="org.brickred.socialauth.SocialAuthManager" scope="session">
		<property name="socialAuthConfig"><ref bean="socialAuthConfig"/></property>
		<aop:scoped-proxy/>
	</bean>
	
	<bean id="socialAuthTemplate" class="org.brickred.socialauth.spring.bean.SocialAuthTemplate" scope="session">
		<aop:scoped-proxy/>
	</bean>
	
	<bean id="socialAuthWebController" class="org.brickred.socialauth.spring.controller.SocialAuthWebController">
		<constructor-arg value="https://www.cookedspecially.com/CookedSpecially" />
		<constructor-arg value="user/authSuccess" />
		<constructor-arg value="jsp/accessDenied.jsp" />
	</bean> 
	<bean id="jspViewResolver"	class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
		<property name="order" value="1" />
	</bean>

<!-- THYMELEAF: Template Resolver for email templates -->
<bean id="emailTemplateResolver" class="org.thymeleaf.templateresolver.ClassLoaderTemplateResolver">
    <property name="prefix" value="../views/" />
    <!-- <property name="templateMode" value="HTML5" /> -->
    <!-- <property name="characterEncoding" value="UTF-8" /> -->
    <property name="suffix" value=".html" />
    <property name="order" value="2" />
</bean>
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	    <property name="host" value="${mail.server.host}" />
	    <property name="port" value="${mail.server.port}" />
	    <property name="protocol" value="${mail.server.protocol}" />
	    <property name="username" value="${mail.server.username}" />
	    <property name="password" value="${mail.server.password}" />
	    <property name="javaMailProperties">
	        <props>
	            <prop key="mail.smtp.starttls.enable">true</prop>
	            <prop key="mail.smtp.auth">true</prop>
	            <!-- <prop key="mail.smtp.timeout">25000</prop> -->
	        </props>
    	</property>
    
	    <!-- 
	    <property name="javaMailProperties">
	        <util:properties location="classpath:javamail.properties" />
	    </property>
	    -->
	</bean>
	
	  <bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
	    <property name="templateResolver" ref="emailTemplateResolver" />
	  </bean>

  <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
    <property name="templateEngine" ref="templateEngine" />
    <property name="characterEncoding" value="UTF-8" />
    <property name="order" value="3" />
    <!-- <property name="viewNames" value="template/*" /> -->
  </bean>
  
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:messages" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	
	<bean id="multipartResolver"
	    class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	
	    <!-- one of the properties available; the maximum file size in bytes -->
	    <!-- <property name="maxUploadSize" value="1000000"/> -->
	</bean>
	<!--
	<bean class="org.springframework.web.servlet.view.XmlViewResolver">
		<property name="location" value="classpath:jasper-views.xml"/>
		<property name="order" value="0"/>
	</bean>
	-->
	<bean class="org.springframework.web.servlet.view.XmlViewResolver">
		<property name="location" value="classpath:report-view.xml"/>
		<property name="order" value="0"/>
	</bean>
	<mvc:resources mapping="/js/**" location="/WEB-INF/js/" />
	<mvc:resources mapping="/images/**" location="/WEB-INF/images/" />
	<mvc:resources mapping="/css/**" location="/WEB-INF/css/" /> 
	<mvc:resources mapping="/themes/**" location="/WEB-INF/themes/" /> 
	
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		p:location="/WEB-INF/jdbc.properties" />

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
		p:driverClassName="${jdbc.driverClassName}"
		p:url="${jdbc.databaseurl}" p:username="${jdbc.username}"
		p:password="${jdbc.password}" />

    <bean id="dataSourceClass" class="com.cookedspecially.domain.DataSource">
        <property name="jdbcDriverClass" value="${jdbc.driverClassName}"/>
        <property name="jdbcUrl" value="${jdbc.databaseurl}"/>
        <property name="jdbcUserName" value="${jdbc.username}"/>
        <property name="jdbcPassword" value="${jdbc.password}"/>
    </bean>
    
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		 <property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property> 
		<!-- <property name="configurationClass">
			<value>org.hibernate.cfg.AnnotationConfiguration</value>
		</property> -->
		
		<property name="hibernateProperties">
			<value>
            hibernate.format_sql=false
            hibernate.show_sql=false
            hibernate.cache.use_second_level_cache=true
            hibernate.cache.use_query_cache=true
            hibernate.generate_statistics=true
            hibernate.cache.region.factory_class=org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory
        </value>
		</property>
	</bean>


	<tx:annotation-driven/>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<!-- <property name="dataSource" ref="dataSource" /> -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>
